@import "../../../../common/text.scss";
.film-desc {
    a {
        color: black;
        font-weight: bold;
    }
    &__title-img {
        max-width: 500px;
        max-height: 500px;
    }
    &__info {}
}